@media (min-width:992px) {
    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 7vw;
    }

    .productImg {
        width: 40%;
        margin: 10vh 12vw 6vw 0;
    }

    .productImg:hover {
        transform: scale(170%);
        transition: all 1s ease-in-out;
    }

    .description {
        width: 70%;
    }

    .benefit {
        display: flex;
        margin: 10vh 10vw;
    }

    .benefitInfo {
        margin: 2vh 0 2vh 2vw;
    }

    .benefitInfo h2 {
        font-size: 4vh;
    }

    .benefitInfo p {
        font-size: 2.5vh;
    }

    .benefitImg {
        border: 2px solid yellow;
        background-color: yellow;
        display: block;
    }

    .mainForm {
        flex-direction: row;
    }

    .formGroup input {
        padding: 0;
    }
}