@media (min-width:992px) {
    .wrapper {
        display: flex;
        align-items: center;
        margin: 0 7vw;
    }

    .productImg {
        width: 40%;
        margin: 10vh 12vw 6vw 0;
    }

    .description {
        width: 70%;
    }

    .description p {
        font-size: 2.1vh;
    }

    .benefit {
        display: flex;
        margin: 10vh 10vw;
    }

    .benefitInfo {
        margin: 2vh 0 2vh 2vw;
    }

    .benefitInfo h2 {
        font-size: 5vh;
        margin: 0.5vw;
    }

    .benefitInfo p {
        font-size: 2.5vh;
        padding: 1.1vh;
        line-height: 1.6;
    }

    .benefitImg {
        border: 2px solid rgb(204, 190, 190);
        background-color: yellow;
        display: block;
    }

    .mainForm {
        display: grid;
        grid-template-columns: 0fr 0fr;
        justify-content: center;
    }

    .formGroup input {
        padding: 3vh 5vw 3vh 1vw;
        margin: 1vh 3vw;
        border: 2px solid rgb(61, 61, 61);
        font-size: 2vh;
    }

    .submitBtn {
        font-size: 3vh
    }

    .reviewWrapper {
        display: flex;
        justify-content: space-around;
    }

    .reviewsTitle {
        display: flex;
        justify-content: center;
    }

    .reviewsTitle h3 {
        font-size: 2.5vh;
        width: 40%;
    }

    .reviewComment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        background-size: 175%;
        background-position: 50% 50%;
    }

    .reviewComment p,
    .reviewComment span {
        font-size: 2vh;
    }

    .reviewerInfo {
        display: flex;
        flex-direction: column;
    }

    .reviewerInfo img {
        width: 10%;
    }

    .copyrightInfo img {
        width: 5%;
    }
}