/* Global Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global End */


/* Main Product Start */
.mainProduct {
    background-image: url(../Img/39607.jpg);
    font-family: "daggersquare";
}

.wrapper {
    color: aliceblue;
    margin: 0 5vw;
}

.logo img {
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 3vh 5vw;
}

.productImg img {
    width: 100%;
    margin: 5vh 0;
}

.title h1 {
    padding: 2vh 0;
    font-size: 4vh;
}

.forma {
    background: linear-gradient(to right, rgb(192, 192, 192), gold,lightblue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Main Product End */


/* Key Benefits Start */
.keyBenefits {
    padding: 2vh;
    background-color: rgb(33, 39, 41);
    font-family: "daggersquare";
}

.benefit {
    margin: 2vh 0;
    border: 2px solid black;
    background: linear-gradient(45deg, grey, rgb(85, 85, 85), rgb(168, 166, 166));
}

.benefit img {
    width: 100%;
}

.benefitInfo {
    padding: 0.4vh;
}

.benefitInfo h2 {
    margin: 1vh 0;
    font-size: 2.5vh;
    background: linear-gradient(to right, rgb(192, 192, 192), gold,lightblue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}
/* Key Benefits End */


/* filloutForm Start */
.filloutForm {
    background-color: rgb(209, 228, 224);
    font-family: "daggersquare";
    padding: 2vh;
}

.formTitle {
    text-align: center;
    font-size: 2.5vh;
}

.formTitle p {
    margin: 2vh 0;
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    margin: 2vh 0;
}

.formGroup input {
    font-family: "daggersquare";
    padding: 2vh 15vw 2vh 5vw;
    outline: none;
}

.submitBtnDiv {
    display: flex;
    justify-content: center;
}

.submitBtn {
    margin: 2vh 0 0;
    background-color: rgb(255, 238, 142);
    font-family: "daggersquare";
    border-radius: 25%;
    padding: 2vh 4vw;
}
/* filloutForm End */


/* reviews Start */
.reviews {
    padding: 2vh;
    font-family: "daggersquare";
    background-color: rgb(141, 141, 141);
}

.reviewsTitle h3 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2vh;
    border-bottom: 10px solid rgb(40, 124, 202);
    border-radius: 30%;
}

.reviewComment {
    margin: 5vh 0;
    border: 2px solid red;
    background-color: rgb(109, 167, 221);
    padding: 2vh;
}

.reviewerInfo {
    margin: 2vh 0 1vh;
}
/* reviews End */


/* footer Start */
footer {
    background-color: rgb(58, 58, 58);
}

.copyrightInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "daggersquare";
    padding: 2vh 0;
}

.copyrightInfo img {
    width: 20%;
}

.legalStuff a {
    color: rgb(156, 156, 156);
}
/* footer End */